{% extends "base.html" %}

{% set title = "Contact" %}

{% block content %}
<h2>連絡先</h2>

<p>
  だいたいDiscordかTwitterを見ているのでそっちの方が早いです。<br>
  それ以外の連絡手段はあまり見ていないので、返信が遅くなるかもしれません。
</p>

<ul>
  <li>
    Discord: @t3tra_dev (&lt;@987965367106293760&gt;)
  </li>
  <li>
    Twitter(現X): <a href="https://x.com/t3tra_x" target="_blank" rel="noopener noreferrer">@t3tra_x</a>
    <!-- 決してX(旧Twitter)ではない。 -->
  </li>
  <li>
    GitHub: <a href="https://github.com/t3tra-dev" target="_blank" rel="noopener noreferrer">@t3tra-dev</a>
  </li>
  <li>
    Zenn: <a href="https://zenn.dev/t3tra" target="_blank" rel="noopener noreferrer">@t3tra</a>
  </li>
</ul>
{% endblock %}
